* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 10%;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 40px;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
